<html lang="en">
  <head>
    <%-include ('partials/head') %>
  </head>
  <body>
    <%-include ('partials/navigation') %>
    <h1>List of Students</h1>
    <ul>
      <% students.forEach(student => { %>

      <li>
        <p>Full Name: <%= student.fullName %></p>
        <p>Code: <%= student.code %></p>
        <p>Field of Studies: <%= student.fieldOfStudies %></p>
      </li>

      <% }); %>
    </ul>
  </body>
</html>
